{% load static %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- patternfly.org CSS -->
    <link rel="stylesheet" href="{% static 'css/patternfly.css' %}">
    <link rel="stylesheet" href="{% static 'css/patternfly-addons.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>wickedtech.nl</title>
  </head>
  <body>
    <div class="pf-c-page">
      <header class="pf-c-page__header">
        <div class="pf-c-page__header-brand">
          <a class="pf-c-page__header-brand-link logo">wickedtech</a>
        </div>
        <div class="pf-c-page__header-nav">
          <nav class="pf-c-nav pf-m-horizontal" aria-label="Global">
            <button class="pf-c-nav__scroll-button" disabled aria-label="Scroll left">
              <i class="fas fa-angle-left" aria-hidden="true"></i>
            </button>
            <ul class="pf-c-nav__list">
              <li class="pf-c-nav__item">
                <a href="#" class="pf-c-nav__link pf-m-current" aria-current="page">HOME</a>
              </li>
              <li class="pf-c-nav__item">
                <a href="#" class="pf-c-nav__link">BLOG</a>
              </li>
              <li class="pf-c-nav__item">
                <a href="#" class="pf-c-nav__link">PORTFOLIO</a>
              </li>
              <li class="pf-c-nav__item">
                <a href="#" class="pf-c-nav__link">ABOUT</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main class="pf-c-page__main" tabindex="-1" id="main-content-page-layout-horizontal-nav">
        <section class="pf-c-page__main-breadcrumb">
          <nav class="pf-c-breadcrumb" aria-label="breadcrumb">
            <ol class="pf-c-breadcrumb__list">
              <li class="pf-c-breadcrumb__item">
                <a href="#" class="pf-c-breadcrumb__link">Section home</a>
              </li>
              <li class="pf-c-breadcrumb__item">
                <span class="pf-c-breadcrumb__item-divider">
                  <i class="fas fa-angle-right" aria-hidden="true"></i>
                </span>
                <a href="#" class="pf-c-breadcrumb__link">Section title</a>
              </li>
              <li class="pf-c-breadcrumb__item">
                <span class="pf-c-breadcrumb__item-divider">
                  <i class="fas fa-angle-right" aria-hidden="true"></i>
                </span>
                <a href="#" class="pf-c-breadcrumb__link">Section title</a>
              </li>
              <li class="pf-c-breadcrumb__item">
                <span class="pf-c-breadcrumb__item-divider">
                  <i class="fas fa-angle-right" aria-hidden="true"></i>
                </span>
                <a href="#" class="pf-c-breadcrumb__link pf-m-current" aria-current="page">Section landing</a>
              </li>
            </ol>
          </nav>
        </section>
        <section class="pf-c-page__main-section pf-m-light">
          <div class="pf-c-content">
            <h1>Coming soon...</h1>
            <p>This website is under construction</p>
          </div>
        </section>
        <section class="pf-c-page__main-section">
          {% block content %}
          {% endblock %}
        </section>
      </main>
    </div>

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>